.color-square {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 0.25rem !important;
    padding: 0.5rem !important;
    vertical-align: middle;
}

.color-square-0 {
    background-color: #CACACA;
}

.color-square-1 {
    background-color: #FFFFFF;
}

.color-square-2 {
    background-color: #1EFF00;
}

.color-square-3 {
    background-color: #0070DD;
}

.color-square-4 {
    background-color: #B035EE;
}

.color-square-5 {
    background-color: #FF8000;
}

.color-square-6 {
    background-color: #FF8000;
}

.color-square-7 {
    background-color: #FF8000;
}

.color-square-8 {
    background-color: #FF8000;
}

.color-square-9 {
    background-color: #FF8000;
}

.color-square-a {
    background-color: #000000;
}

.color-square-b {
    background-color: #3F3F3F;
}

.color-square-c {
    background-color: #676767;
}

.color-square-d {
    background-color: #7D0000;
}

.color-square-e {
    background-color: #8E3434;
}

.color-square-f {
    background-color: #A34F00;
}

.color-square-g {
    background-color: #725437;
}

.color-square-h {
    background-color: #A88600;
}

.color-square-i {
    background-color: #B2934A;
}

.color-square-j {
    background-color: #939500;
}

.color-square-k {
    background-color: #495225;
}

.color-square-l {
    background-color: #299400;
}

.color-square-m {
    background-color: #23381B;
}

.color-square-n {
    background-color: #00535B;
}

.color-square-o {
    background-color: #324A4C;
}

.color-square-p {
    background-color: #0073A6;
}

.color-square-q {
    background-color: #385A6C;
}

.color-square-r {
    background-color: #010067;
}

.color-square-s {
    background-color: #507AA1;
}

.color-square-t {
    background-color: #601C81;
}

.color-square-u {
    background-color: #43314C;
}

.color-square-v {
    background-color: #8C0069;
}

.color-square-w {
    background-color: #973984;
}

.color-square-x {
    background-color: #880024;
}

.color-square-y {
    background-color: #762E4A;
}

.color-square-z {
    background-color: #101215;
}

.color-square-A {
    background-color: #FFFFFF;
}

.color-square-B {
    background-color: #CACACA;
}

.color-square-C {
    background-color: #9B9B9B;
}

.color-square-D {
    background-color: #FF0000;
}

.color-square-E {
    background-color: #FF8383;
}

.color-square-F {
    background-color: #FF8000;
}

.color-square-G {
    background-color: #F3AA6F;
}

.color-square-H {
    background-color: #FBC803;
}

.color-square-I {
    background-color: #FFD863;
}

.color-square-J {
    background-color: #FFF404;
}

.color-square-K {
    background-color: #F3F998;
}

.color-square-L {
    background-color: #1EFF00;
}

.color-square-M {
    background-color: #B3FF9B;
}

.color-square-N {
    background-color: #00FFFF;
}

.color-square-O {
    background-color: #8FE6FF;
}

.color-square-P {
    background-color: #0070DD;
}

.color-square-Q {
    background-color: #A4E3FF;
}

.color-square-R {
    background-color: #0000FF;
}

.color-square-S {
    background-color: #7AB2F4;
}

.color-square-T {
    background-color: #B035EE;
}

.color-square-U {
    background-color: #E6C4FF;
}

.color-square-V {
    background-color: #FF00EC;
}

.color-square-W {
    background-color: #FF96E0;
}

.color-square-X {
    background-color: #FF0070;
}

.color-square-Y {
    background-color: #FF6A98;
}

.color-square-Z {
    background-color: #0C112B;
}